<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleIdentifier</key><string>com.ump45nose.NeeView</string>
  <key>CFBundleName</key><string>NeeView</string>
  <key>CFBundleDisplayName</key><string>NeeView</string>
  <key>CFBundleShortVersionString</key><string>0.1.0</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>LSMinimumSystemVersion</key><string>15.0</string>
  <key>NSHighResolutionCapable</key><true/>
  <key>CFBundleDocumentTypes</key><array><dict>
    <key>CFBundleTypeName</key><string>Images and comic archives</string>
    <key>CFBundleTypeRole</key><string>Viewer</string>
    <key>LSHandlerRank</key><string>Alternate</string>
    <key>CFBundleTypeExtensions</key><array><string>jpg</string><string>jpeg</string><string>png</string><string>webp</string><string>bmp</string><string>tif</string><string>tiff</string><string>gif</string><string>zip</string><string>cbz</string></array>
  </dict></array>
</dict></plist>
